<a href="https://colab.research.google.com/github/Fehe2023/Pathrise-NEW-project/blob/main/Pre-processing%20df%2C%20new%20df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I remove 2 columns: id and cohort_tag

In [ ]:
df= df.drop (['id','cohort_tag'], axis=1)

# Pre- processing (fill missing value in)

In [3]:
import pandas as pd

In [4]:
from google.colab import files
uploaded= files.upload()

Saving patchrise 2 .csv to patchrise 2 .csv

In [5]:
df=pd.read_csv('patchrise 2 .csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   pathrise_status              2544 non-null   object
 1   primary_track                2544 non-null   object
 2   program_duration_days        1928 non-null   float64
 3   placed                       2544 non-null   int64
 4   employment_status            2315 non-null   object
 5   highest_level_of_education   2486 non-null   object
 6   length_of_job_search         2470 non-null   object
 7   biggest_challenge_in_search  2520 non-null   object
 8   professional_experience      2322 non-null   object
 9   work_authorization_status    2260 non-null   object
 10  number_of_interviews         2326 non-null   float64
 11  number_of_applications       2544 non-null   int64
 12  gender                       2052 non-null   object
 13  race                         2526 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 278.4+ KB

# if I have too much data, I can delete empty row. but here it is clear that deleting all empty rows will delete half of the data and so that is not a good solution.  

see below

In [10]:
df_row=df.dropna(axis=0)

In [11]:
df_row.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 988 entries, 2 to 2543
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   pathrise_status              988 non-null    object
 1   primary_track                988 non-null    object
 2   program_duration_days        988 non-null    float64
 3   placed                       988 non-null    int64
 4   employment_status            988 non-null    object
 5   highest_level_of_education   988 non-null    object
 6   length_of_job_search         988 non-null    object
 7   biggest_challenge_in_search  988 non-null    object
 8   professional_experience      988 non-null    object
 9   work_authorization_status    988 non-null    object
 10  number_of_interviews         988 non-null    float64
 11  number_of_applications       988 non-null    int64
 12  gender                       988 non-null    object
 13  race                         988 non-null    object
dtypes: float64(2), int64(2), object(10)
memory usage: 115.8+ KB

# Another way is that all columns with missing values are deleted. but that is always not a good solution because some columns have important information.

see below

In [12]:
df_col = df.dropna(axis=1)

In [13]:
df_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   pathrise_status         2544 non-null   object
 1   primary_track           2544 non-null   object
 2   placed                  2544 non-null   int64
 3   number_of_applications  2544 non-null   int64
dtypes: int64(2), object(2)
memory usage: 79.6+ KB

# If the missing value is a number (int, float), I can enter the mean of a column there

In [14]:
program_duration_days_mean=df['program_duration_days'].mean()

In [15]:
program_duration_days_mean

136.09854771784234

# Raplce missing value with mean
import numpy as np

In [16]:
import numpy as np

In [17]:
df ['program_duration_days']= df['program_duration_days'].replace (np.nan, program_duration_days_mean)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   pathrise_status              2544 non-null   object
 1   primary_track                2544 non-null   object
 2   program_duration_days        2544 non-null   float64
 3   placed                       2544 non-null   int64
 4   employment_status            2315 non-null   object
 5   highest_level_of_education   2486 non-null   object
 6   length_of_job_search         2470 non-null   object
 7   biggest_challenge_in_search  2520 non-null   object
 8   professional_experience      2322 non-null   object
 9   work_authorization_status    2260 non-null   object
 10  number_of_interviews         2326 non-null   float64
 11  number_of_applications       2544 non-null   int64
 12  gender                       2052 non-null   object
 13  race                         2526 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 278.4+ KB

# another column float with missing value

In [19]:
number_of_interviews_mean=df['number_of_interviews'].mean()

In [20]:
number_of_interviews_mean

2.182287188306105

In [21]:
df ['number_of_interviews']= df['number_of_interviews'].replace (np.nan, number_of_interviews_mean)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   pathrise_status              2544 non-null   object
 1   primary_track                2544 non-null   object
 2   program_duration_days        2544 non-null   float64
 3   placed                       2544 non-null   int64
 4   employment_status            2315 non-null   object
 5   highest_level_of_education   2486 non-null   object
 6   length_of_job_search         2470 non-null   object
 7   biggest_challenge_in_search  2520 non-null   object
 8   professional_experience      2322 non-null   object
 9   work_authorization_status    2260 non-null   object
 10  number_of_interviews         2544 non-null   float64
 11  number_of_applications       2544 non-null   int64
 12  gender                       2052 non-null   object
 13  race                         2526 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 278.4+ KB

# To convert the object or Boolean to a Int value in the data frame,is 'get dummy' is used. That is, add 0 or 1 to each category

In [25]:
df_dummy=pd.get_dummies(df[['highest_level_of_education','biggest_challenge_in_search',  'employment_status ', 'length_of_job_search','professional_experience','work_authorization_status', 'race','gender','pathrise_status','primary_track']])
df_dummy

,highest_level_of_education_Bachelor's Degree,highest_level_of_education_Doctorate or Professional Degree,highest_level_of_education_GED or equivalent,highest_level_of_education_High School Graduate,highest_level_of_education_Master's Degree,"highest_level_of_education_Some College, No Degree",highest_level_of_education_Some High School,biggest_challenge_in_search_Behavioral interviewing,biggest_challenge_in_search_Figuring out which jobs to apply for,biggest_challenge_in_search_Getting past final round interviews,...,pathrise_status_Placed,pathrise_status_Withdrawn,pathrise_status_Withdrawn (Failed),pathrise_status_Withdrawn (Trial),primary_track_Data,primary_track_Design,primary_track_Marketing,primary_track_PSO,primary_track_SWE,primary_track_Web
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
2540,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2541,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2542,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2543,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [36]:
df= df.drop (['highest_level_of_education','biggest_challenge_in_search',  'employment_status ', 'length_of_job_search','professional_experience','work_authorization_status', 'race','gender','pathrise_status','primary_track'], axis=1)

In [37]:
df= pd.concat([df, df_dummy], axis=1)

In [38]:
df

,program_duration_days,placed,number_of_interviews,number_of_applications,highest_level_of_education_Bachelor's Degree,highest_level_of_education_Doctorate or Professional Degree,highest_level_of_education_GED or equivalent,highest_level_of_education_High School Graduate,highest_level_of_education_Master's Degree,"highest_level_of_education_Some College, No Degree",...,pathrise_status_Placed,pathrise_status_Withdrawn,pathrise_status_Withdrawn (Failed),pathrise_status_Withdrawn (Trial),primary_track_Data,primary_track_Design,primary_track_Marketing,primary_track_PSO,primary_track_SWE,primary_track_Web
0,136.098548,0,2.0,900,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,136.098548,0,6.0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,0.000000,0,0.0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,0.000000,0,5.0,25,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,89.000000,1,10.0,100,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2539,457.000000,0,4.0,15,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,0,0
2540,488.000000,0,1.0,7,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,0
2541,136.098548,0,1.0,30,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2542,136.098548,0,2.0,10,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2543,285.000000,0,3.0,70,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Columns: 140 entries, program_duration_days to primary_track_Web
dtypes: float64(2), int64(2), uint8(136)
memory usage: 417.5 KB

In [32]:
df.describe()

,program_duration_days,placed,number_of_interviews,number_of_applications,highest_level_of_education_Bachelor's Degree,highest_level_of_education_Doctorate or Professional Degree,highest_level_of_education_GED or equivalent,highest_level_of_education_High School Graduate,highest_level_of_education_Master's Degree,"highest_level_of_education_Some College, No Degree",...,pathrise_status_Placed,pathrise_status_Withdrawn,pathrise_status_Withdrawn (Failed),pathrise_status_Withdrawn (Trial),primary_track_Data,primary_track_Design,primary_track_Marketing,primary_track_PSO,primary_track_SWE,primary_track_Web
count,2544.000000,2544.000000,2544.000000,2544.000000,2544.000000,2544.000000,2544.000000,2544.000000,2544.000000,2544.000000,...,2544.000000,2544.000000,2544.000000,2544.000000,2544.000000,2544.000000,2544.000000,2544.000000,2544.000000,2544.000000
mean,136.098548,0.375786,2.182287,36.500786,0.534984,0.053066,0.005896,0.005896,0.318396,0.053066,...,0.375786,0.156447,0.032233,0.108491,0.097484,0.113208,0.000786,0.126572,0.659591,0.002358
std,109.561068,0.484420,2.829588,53.654896,0.498873,0.224209,0.076575,0.076575,0.465946,0.224209,...,0.484420,0.363350,0.176652,0.311060,0.296674,0.316909,0.028033,0.332559,0.473940,0.048517
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.098548,0.000000,1.000000,20.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,184.000000,1.000000,3.000000,45.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,548.000000,1.000000,20.000000,1000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [40]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [41]:
import os
os.chdir("/content/drive/My Drive")
!ls

'Colab Notebooks'		  week14-applied-datascience.mp4    week6-applied-datascience.mp4
 df				  week15-applied-datascience.mp4    week6-applied-datascience.pdf
 df.csv				  week1-applied-datascience.mp4     week7-applied-datascience.mp4
'my drive 2'			  week2-applied-datascience.mp4     week7-applied-datascience.pdf
 week10-applied-datascience.mp4   week3-applied-datascience.mp4     week8-applied-datascience.mp4
 week11-applied-datascience.mp4   week4-applied-datascience.mp4     week9-applied-datascience.mp4
 week12-applied-datascience.mp4   week5-applied-datascience.mp4
 week13-applied-datascience.mp4   week6-applied-datascience-1.pdf

In [42]:
df.to_csv('/content/drive/My Drive/df/patchrise 3.csv', index=False)

df. info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Columns: 140 entries, program_duration_days to primary_track_Web
dtypes: float64(2), int64(2), uint8(136)
memory usage: 417.5 KB